@model FeatureDTO
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/Shared/_CoronaAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <p class="card-description"> Update Feature </p>

            <form class="forms-sample"method="post" asp-controller="Feature" asp-action="UpdateFeature">
                <div asp-validation-summary="All"></div>
                <input type="hidden" name="FeaturenId" value="@Model.Id" />
                <div class="form-group">
                    <label asp-for="Haeder"><b> Haeder: </b>  </label>
                    <input asp-for="Haeder" class="form-control" value="@Model.Haeder" />
                    <span asp-validation-for="Haeder" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Name"><b>Name: </b>  </label>
                    <input asp-for="Name" class="form-control" value="@Model.Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Title"><b>Title: </b>  </label>
                    <input asp-for="Title" class="form-control" value="@Model.Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>

                </div>
                <br />
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>


