@model PortfolioDTO
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_CoronaAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <p class="card-description"> Add New Portfolio  </p>
            <form class="forms-sample" method="post" asp-controller="Portfolio" asp-action="AddPortfolio">
                <div>
                    <div>
                        <br />
                        <br />
                        <label asp-for="Name"> <b>Project Name:</b></label>
                        <input asp-for="Name" id="txtSkill" type="text" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <br />
                        <label asp-for="Price"> <b>Project Price:</b></label>
                        <input asp-for="Price" id="txtSkill" type="text" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                        <br />
                        <label asp-for="Value"> <b>Completed Value:</b></label>
                        <input asp-for="Value" id="txtSkill" type="text" class="form-control" />
                        <span asp-validation-for="Value" class="text-danger"></span>
                        <br />
                        <label asp-for="ImageUrl"> <b>Image URL:</b></label>
                        <input asp-for="ImageUrl" id="txtValue" type="text" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>

                        <br />
                        <label asp-for="ImageUrl2"> <b>Image URL 2:</b></label>
                        <input asp-for="ImageUrl2" id="txtValue" type="text" class="form-control" />
                        <span asp-validation-for="ImageUrl2" class="text-danger"></span>

                        <br />
                        <label asp-for="ProjectUrl"> <b>Project URL:</b></label>
                        <input asp-for="ProjectUrl" id="txtValue" type="text" class="form-control" />
                        <span asp-validation-for="ImageUrl2" class="text-danger"></span>

                        <br />


                        <br />

                    </div>
                </div>
                <br>
                <button type="submit" id="btnSavePortfolio" name="SavePortfolio" value="Save Portfolio" href="/Portfolio/AddPortfolio/" class="btn btn-outline-success"><b>Add Porfolio</b></button>
                <br />
            </form>
        </div>
    </div>
</div>

