@model MessageUserDTO
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<br />
<div class="card-header border-0">
    <h3 class="mb-0"> New Message</h3>
</div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <p class="card-description"> Add New Message  </p>

            <form class="forms-sample" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="ReceiverMail"><b> Receiver Mail: </b>  </label>
                    <input asp-for="ReceiverMail" class="form-control" />
                    <span asp-validation-for="ReceiverMail" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="ReceiverName"><b> Receiver Name Surname: </b>  </label>
                    <input asp-for="ReceiverName" class="form-control" />
                    <span asp-validation-for="ReceiverName" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Subject"><b>Subject: </b>  </label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="MessageContent"><b>Message Content: </b>  </label>
                    <input asp-for="MessageContent" class="form-control" />
                    <span asp-validation-for="MessageContent" class="text-danger"></span>

                </div>
                <br />
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>
