@{ 
    Layout = null;
}

<!DOCTYPE html>
<!-- upto 2 directory depth-->
<html lang="en-US">


<partial name="~/Views/Shared/PartialViews/HaederPartialViews.cshtml" />
<body id="top">
    <header class="bg-light">
        <partial name="~/Views/Shared/PartialViews/NavbarPartialViews.cshtml" />
    </header>

    <div class="page-content">
        <div id="content">
            @await Component.InvokeAsync("FeatureList")
            @await Component.InvokeAsync("AboutList")
            @await Component.InvokeAsync("SettingList")
            @await Component.InvokeAsync("SkillList")
            @await Component.InvokeAsync("PortfolioList")
            @await Component.InvokeAsync("EducationList")
            @await Html.PartialAsync("/Views/Default/Add.cshtml")
            @await Component.InvokeAsync("ContactList")
          
            <partial name="~/Views/Shared/PartialViews/FooterPartialView.cshtml" />
        </div>
    </div>
    <div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
    <script src="~/Template/scripts/imagesloaded.pkgd.min.js?ver=1.2.0"></script>
    <script src="~/Template/scripts/masonry.pkgd.min.js?ver=1.2.0"></script>
    <script src="~/Template/scripts/BigPicture.min.js?ver=1.2.0"></script>
    <script src="~/Template/scripts/purecounter.min.js?ver=1.2.0"></script>
    <script src="~/Template/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
    <script src="~/Template/scripts/aos.min.js?ver=1.2.0"></script>
    <script src="~/Template/scripts/main.js?ver=1.2.0"></script>
</body>
</html>