<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/User/UserDashboard/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        @await Component.InvokeAsync("SidebarUserId")

        <li class="nav-item">
            <a class="nav-link" href="~/skydash/pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Home Page</span>
            </a>
        </li>



        <li class="nav-item">
            <a class="nav-link"  href="/User/Message/InBox/">
                <i class="ti-notepad menu-icon"></i>
                <span class="menu-title">Receiver Messages</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/Message/SendBox/">
                <i class="icon-mail menu-icon" ></i>
                <span class="menu-title">Sender Messages</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/User/Message/SendMessage/">
                <i class="ti-pencil menu-icon"></i>
                <span class="menu-title">New Create Message</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/Default/Index/">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Announcement</span>

            </a>
        </li>



        <li class="nav-item">
            <a class="nav-link" href="/User/Login/LogOut/">
                <i class="icon-lock menu-icon"></i>
                <span class="menu-title">LogOut</span>
            </a>
        </li>

    </ul>
</nav>