@model ServiceDTO
@{
    ViewData["Title"] = "UpdateSetting";
    Layout = "~/Views/Shared/_CoronaAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <p class="card-description"> Update New Service  </p>

            <form class="forms-sample" method="post" asp-controller="Setting" asp-action="UpdateSetting">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label for="exampleInputName1">Title</label>
                    <input type="text" class="form-control" id="exampleInputName1" name="Title" value="@Model.Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Image</label>
                    <input type="text" class="form-control" id="exampleInputName1" name="ImageUrl" value="@Model.ImageUrl">
                </div>
                @*<div class="form-group">
            <label>File upload</label>
            <input type="file" name="img[]" class="file-upload-default">
            <div class="input-group col-xs-12">
                <input type="text" class="form-control file-upload-info" name="ImageUrl" disabled placeholder="Upload Image">
                <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                </span>
            </div>
        </div>*@

                @*<div class="form-group">
            <label for="exampleTextarea1">Textarea</label>
            <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
        </div>*@
                <br />
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>


