<li class="nav-item">
    <a class="nav-link" href="/User/Profile/EditProfile/@ViewBag.UserId">
        @*//hangi kullanıcı gelicekse identity ile ıd cekilecek*@
        <i class="icon-heart menu-icon"></i>
        <span class="menu-title">Profile</span>

    </a>
</li>