
<!DOCTYPE html>
<html>

<head>
    <partial name="~/Views/Shared/PartialViews/AdminPartialViews/HeaderPartialView.cshtml" />
</head>

<body>
    <!-- Sidenav -->
    <partial name="~/Views/Shared/PartialViews/AdminPartialViews/SideBarPartialView.cshtml" />
    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Topnav -->
        <partial name="~/Views/Shared/PartialViews/AdminPartialViews/NavBarPartialView.cshtml" />
        <!-- Header -->
        <!-- Header -->

        <partial name="~/Views/Shared/PartialViews/AdminPartialViews/NavigationPartialView.cshtml" />
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col">

                    @RenderBody()

                </div>
            </div>
            <br />
            <br />
            <!-- Footer -->
            <partial name="~/Views/Shared/PartialViews/AdminPartialViews/FooterPartialView.cshtml" />
        </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <partial name="~/Views/Shared/PartialViews/AdminPartialViews/ScriptPartialView.cshtml" />
</body>

</html>

