
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/Toastr/toastr.min.css" rel="stylesheet" />
    <partial name="~/Views/Shared/PartialViews/CoronaAdminPartialViews/HeaderPartialView.cshtml" />

</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <partial name="~/Views/Shared/PartialViews/CoronaAdminPartialViews/SideBarPartialView.cshtml" />
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <partial name="~/Views/Shared/PartialViews/CoronaAdminPartialViews/NavBarPartialView.cshtml" />
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">

                    <div class="row">


                        @RenderBody()

                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <partial name="~/Views/Shared/PartialViews/CoronaAdminPartialViews/FooterPartialView.cshtml" />
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="~/Views/Shared/PartialViews/CoronaAdminPartialViews/ScriptPartialView.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
</body>
</html>

