@model EditProfileViewModel
@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-description">
                Edit Profile
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <input hidden asp-for="Id" />
                <div asp-validation-summary="All" class="text-danger"></div>
                @*<div class="form-group">
                    <label asp-for="Email"></label>
                    <input class="form-control" asp-for="Email" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input class="form-control" asp-for="UserName" placeholder="User Name" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" placeholder="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname"></label>
                    <input class="form-control" asp-for="Surname" placeholder="Surname" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Image upload</label>
                    <input type="file" name="@Model.ImageUrl" class="file-upload-default">
                    <div class="form-group">
                        <label>Choose File</label>
                        <input class="form-control" asp-for="Image" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group float-right">
                    <button id="gonder" type="submit" class="btn btn-primary">Edit Profile</button>
                </div>
            </form>
            
        </div>
    </div>
</div>